@if (_showConfirm)
{
    <ConfirmationBlazor Message="@ConfirmationMessage" Title="@ConfirmationTitle" Results="PrivateConfirm" />
}
@if (FontSize == "")
{
    @if (IsEnabled == false)
    {
        <button class="btn btn-primary" style="margin: @Spacing; color: @DisabledColor; @Style "disabled>@ChildContent</button>
        return;
    }
    <button @onclick="PrivateClick" class="btn btn-primary" style="margin: @Spacing; @Style">@ChildContent</button>
    return;
}
@if (IsEnabled == false)
{
    <button class="btn btn-primary" style=" font-size:@FontSize; margin: @Spacing; color: @DisabledColor; @Style" disabled>@ChildContent</button>
    return;
}
<button @onclick="PrivateClick" class="btn btn-primary" style=" font-size: @FontSize; margin: @Spacing; @Style">@ChildContent</button>