@inherits JavascriptComponentBase

@if (string.IsNullOrWhiteSpace(ResolvedMainSource))
{
    <div>You must provide either Name or MainSource to use the control.</div>
    return;
}

<img @ref="_element"
     src="@ResolvedMainSource"
     alt="@Alt"
     class="@Class"
     style="@BuildStyle()"
     width="@Width"
     height="@Height"
     @onclick="OnClick"
     @onmouseover="HoverAsync"
     @onmouseout="UnhoverAsync" />