@inherits JavascriptComponentBase
@if (ReadOnly && FullPage)
{
    <div>Currently does not support full page and read only</div>
    return;
}
@if (FullPage && UseLeftOvers)
{
    <div>Currently does not support full page and use with leftovers component</div>
    return;
}
@if (ReadOnly && MainHotKey != ConsoleKey.NoName)
{
    <div>You cannot use hotkeys for readonly</div>
    return;
}
@if (UseLeftOvers)
{
    <textarea spellcheck="@IsSpells" class="@Class" @ref="_text" @oninput="HandleOnChange" @onclick:stopPropagation="true" @onclick:preventDefault="true" style="resize: none;width: 99%; height: 98%; @Style">
        @Value
    </textarea>
    return;
}
@if (FullPage)
{
    <div style="height: 99%; margin-left: 3px; margin-right: 3px;">
        <textarea spellcheck="@IsSpells" class="@Class" @ref="_text" @oninput="HandleOnChange" @onclick:stopPropagation="true" @onclick:preventDefault="true" style="resize: none;width: 100%; height: 100%; @Style">
            @Value
        </textarea>
    </div>
    return;
}
@if (ReadOnly)
{
    <textarea spellcheck="@IsSpells" class="@Class" @oninput="HandleOnChange" @onclick:stopPropagation="true" @onclick:preventDefault="true" style="resize: none; width: @Width; @Style" readonly rows="@Rows">
        @Value
    </textarea>
    return;
}
<textarea class="@Class" spellcheck="@IsSpells" @ref="_text" @oninput="HandleOnChange" @onclick:stopPropagation="true" @onclick:preventDefault="true" style="resize: none; width: @Width; @Style" rows="@Rows">
    @Value
</textarea>