<table style="table-layout: fixed">
    <colgroup>
        <col style="width: @FirstWidth" />
        <col style="width: @SecondWidth" />
    </colgroup>
    <tr>
        <td style="border: solid 1px @CellBorderColor; @CellStyle">@FirstContent</td>
        <td style="border: solid 1px @CellBorderColor; @CellStyle">@SecondContent</td>
    </tr>
</table>