@if (_showConfirm)
{
    <ConfirmationBlazor Message="@ConfirmationMessage" Title="@ConfirmationTitle" Results="PrivateConfirm" />
}

<button @onclick:stopPropagation="true"
    class="btn @ButtonClass"
        style="@FinalStyle @Style"
        @onclick="PrivateClickAsync"
        disabled="@(!IsEnabled)">
    @ChildContent
</button>