@inherits JavascriptComponentBase
<div style="width: @Style!.Width;">
    @if (TabIndex > -1)
    {
        <input @ref="Text"
               style="@GetTextStyle() background-color: @GetTextBackgroundColor;"
               spellcheck="@IsSpells"
               @onkeypress:preventDefault="true"
               @onclick:stopPropagation="true" @onclick:preventDefault="true"
               type="text"
               id="@TabIndex"
               placeholder="@Placeholder"
               class="customtextbox" />
    }
    else
    {
        <input @ref="Text"
               style="@GetTextStyle() background-color: @GetTextBackgroundColor;"
               spellcheck="@IsSpells"
               @onkeypress:preventDefault="true"
               @onclick:stopPropagation="true" @onclick:preventDefault="true"
               type="text"
               placeholder="@Placeholder"
               class="customtextbox" />
    }

</div>